---
---
@charset "utf-8";

$base-font-family:  "Source Sans Pro",sans-serif;
$base-font-size:    24px;
$base-line-height:  1.5;
$max-text-cover:    120rem;
$spacing-unit:      1.5em;
$blue:              #fee11a; //#adc9ea; /* changed to UO yellow */
$yellow:            #00A5B5; /* changed to light blue */
$green:             #d8f3cb;
$red:               #00A5B5; /*changed to light blue */

$think-odd-color:   #ffeecc;
$think-even-color:  #ffdddd;

/* changes the color of the background, which is currently light gray */
$body-bg-color:     #D8DcDA;

/* changes the navigation bar's background color, currently Grass Green */
$nav-bg-color:      #489D46;

/* controls the color for every link in the entire site */
$link-color:        #8D1D58;

/* controls the color for the link hover, which at this time I've changed to UO yellow */
$link-hover:        #FEE11A;

$link-focus-color:  #E40000;
$topic-bg-color:    #FFFFFF;
$topic-index-bg-color: $red;
$footer-bg-color:    #8ABB40;

// The hamburger icons is rigged with a dirty bit of hard-width 
// and shameful z-index bodging too so it overlaps with the
// grid layout a bit. Might be better ways of doing this.
$hamburger-width:   4rem; 

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "layout",
  "responsive",
  "syntax-highlighting"
;
