---
---
@charset "utf-8";

$base-font-family:  "Source Sans Pro",sans-serif;
$base-font-size:    24px;
$base-line-height:  1.5;
$max-text-cover:    120rem;
$spacing-unit:      1.5em;
$blue:              #fee11a; //#adc9ea;
$yellow:            #f7f099;
$green:             #d8f3cb;
$red:               #ffdddd;

$think-odd-color:   #ffeecc;
$think-even-color:  #ffdddd;

$body-bg-color:     #D8DcDA;
$nav-bg-color:      #007030;

/* controls the color for every link in the entire site */
$link-color:        #104735;

/* controls the color for the link hover, which at this time I've changed to UO yellow */
$link-hover:        #FEE11A;

$link-focus-color:  #E40000;
$topic-bg-color:    #FFFFFF;
$topic-index-bg-color: $red;
$footer-bg-color:   #007030;

// The hamburger icons is rigged with a dirty bit of hard-width 
// and shameful z-index bodging too so it overlaps with the
// grid layout a bit. Might be better ways of doing this.
$hamburger-width:   4rem; 

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "layout",
  "responsive",
  "syntax-highlighting"
;
